.stepperMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000a23 !important;

  .flex-main {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;

    h1 {
      font-size: 4.25rem;
      font-weight: 700;
    }
    h2 {
      font-size: 2.25rem;
      font-weight: 500;
    }
  }
  h3 {
    font-size: 1.15rem;
    font-weight: 400;
    transform: translate(0%, -70%);
  }
}
.form-container {
  width: 110%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: height 0.5s ease-in-out;
}

@media (max-width: 700px) {
  .welcome-title-main {
    margin-top: 3vh;

    .flex-main {
  
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
      }

      h2 {
        font-size: 1.75rem;
        font-weight: 500;
      }
    }
    h3 {
      font-size: 0.9rem;
      font-weight: 400;
      transform: translate(0%, -75%);
    }
  }
}
